<% provide(:title, @user.name) %>
<h1> My Tasks </h1>
<%= link_to "New Task", new_user_task_path(@user) %>
<br />
<%= form_tag(user_tasks_path(@user), method: "get") do %>
    <%= text_field_tag(:q, params[:q], placeholder: "Search by tag...") %>
    <%= submit_tag("Search") %>
<% end %>
<%= link_to 'by deadline', '#', class: 'btn btn-primary', id: 'sort_tasks_by_ddl' %>
<% if @tasks.nil? %>
    <h4 class="alert alert-warning">There are no tasks with the tag <%= params[:q] %>.</h4>
<% else %>
<br/>

<h4> Ongoing tasks (<%= @ongoing_tasks.size %>): </h4>
<table class= "table table-hover">
  <thead>
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>Tag(s)</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ongoing_tasks.each do |task| %>
        <tr>
            <td id="td1"><%= truncate task.title %></td>
            <td id="td3"><%= task.deadline.to_s(:db) %></td>
            <td id="td4">
              <% task.tags.each do |tag| %>
              <%= tag.tag_name %><br>
              <% end %>
            </td>
            <td class="td5"><%= link_to 'Complete', user_task_complete_path(user_id: task.user.id,
              id: task.id), method: :patch %> |
            <%= link_to 'Show', user_task_path(user_id: task.user.id,
              id: task.id) %> |
            <%= link_to 'Edit', edit_user_task_path(user_id: task.user.id,
              id: task.id) %>
              <span class="glyphicon glyphicon-edit"></span> |
            <%= link_to 'Destroy', [task.user, task],
            method: :delete, data: { confirm: 'Are you sure?' } %>
            <span class="glyphicon glyphicon-trash"></span>
              </td>
        </tr>
    <% end %>
  </tbody>
</table>

<h4>Completed tasks (<%= @completed_tasks.size %>): </h4>
<table class= "table table-hover">
    <tr>
        <th>Task</th>
        <th>Deadline</th>
        <th>Tag(s)</th>
        <th></th>
    </tr>

    <% @completed_tasks.each do |task| %>
        <tr>
            <td id="td1"><%= truncate task.title %></td>
            <td id="td3"><%= task.deadline.to_s(:db) %></td>
            <td id="td4">
              <% task.tags.each do |tag| %>
              <%= tag.tag_name %><br>
              <% end %>
            </td>
            <td class="td5"><%= link_to 'Uncomplete', user_task_uncomplete_path(user_id: task.user.id,
              id: task.id), method: :patch %> |
            <%= link_to 'Show', user_task_path(user_id: task.user.id,
              id: task.id) %> |
            <%= link_to 'Edit', edit_user_task_path(user_id: task.user.id,
              id: task.id) %>
              <span class="glyphicon glyphicon-edit"></span> |
            <%= link_to 'Destroy', [task.user, task],
            method: :delete, data: { confirm: 'Are you sure?' } %>
            <span class="glyphicon glyphicon-trash"></span>
              </td>
        </tr>
    <% end %>
</table>
<% end %>

<%= link_to 'View all tasks', user_tasks_path(@user) %>
