<%= link_to "Add New Task", new_user_task_path(@user) %>
<br />
<%= form_tag(user_tasks_path(@user), :method => "get", id: "search-form") do %>
<br />
    <%= text_field_tag(:q, params[:q], placeholder: "Search by tag...") %>
    <%= submit_tag("Search") %>
<% end %>
<% if @tasks.blank? && !params[:q].nil? %>
    <h4 class="alert alert-warning">There are no tasks with the tag <%= params[:q] %>.</h4>
<% else if !@tasks.blank?%>
<br />

<table class= "table table-hover">
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Tag</th>
        <th colspan="3"></th>
    </tr>

    <% @tasks.each do |task| %>
        <tr>
            <td id="td1"><%= task.title %></td>
            <td id="td2"><%= task.description %></td>
            <td id="td3"><%= task.deadline %></td>
            <td id="td4"><%= task.tag %></td>
            <td class="td5"><%= link_to 'Edit', edit_user_task_path(user_id: task.user.id,
              id: task.id) %>
              <span class="glyphicon glyphicon-edit"></span></td>
            <td class="td5"><%= link_to 'Destroy', [task.user, task],
            method: :delete, data: { confirm: 'Are you sure?' } %>
              <span class="glyphicon glyphicon-trash"></span></td>
        </tr>
    <% end %>
<% else %>
<% end %>
</table>
<% end %>

<br>
<%= link_to 'Back to the main page', user_tasks_path %>
