<p>
    <strong>Task:</strong>
    <%= @task.title %>
</p>

<span class="timestamp" style="color:grey;">
  Created <%= time_ago_in_words(@task.created_at) %> ago.
</span>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<p>
    <strong>Deadline:</strong>
    <%= @task.deadline.to_s(:db) %>
</p>

<p>
    <strong>Tag(s):</strong>
    <% @task.tags.each do |tag| %>
      <%= tag.tag_name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_task_path(user_id: @task.user.id,
  id: @task.id) %> |
<%= link_to 'Back', user_tasks_path(@user) %>
